/* body {
    background:  #245869 !important;
}

.defcolor {
    background:  #1A3F4B!important;
    padding: 0.7% 7%;
    box-shadow: 0 8px 20px 0 rgba(5, 46, 49, 0.6);
}

.modal-dialog {
    max-width: 35% !important;
}

.modal-content {
    box-shadow: 0 8px 20px 0 rgba(9, 55, 58, 0.6) !important;
}

.modal-content,
input {
    background: #133c49 !important;
    color: white !important;
}

.modal-header {
    border-bottom: 1px solid #245869 !important;
}

.modal-footer {
    border-top: 1px solid #245869 !important;
}

.dropdown-menu {
    margin-top: 13% !important;
    background: #1A3F4B !important;
    border: 2px solid#1A3F4B !important;
}

.dropdown-item,
a {
    color: #fff;
}

.dropdown-toggle::after {
    display: none;
}

.dropdown-item:focus,
.dropdown-item:hover {
    color:white;
    background: #245869 !important;
}

.form-control {
    margin: 1% 0%;
    border: 1px solid #245869 !important;
}

@media (min-width: 992px) {

    .modal-lg,
    .modal-xl {
        max-width: 35% !important;
    }
} */

.whtr {
    color: white;
}

.main {
    margin: 15% 0%;
}

.row {
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.col-2,
.col-8 {
    padding-right: 0px;
    padding-left: 0px;
}

.list-group {
    padding: 7% 3%;
    height: 91vh !important;
    background: #203864 !important;
    box-shadow: 0 8px 20px 0 rgba(32, 56, 100, .6);
    color: white;
}

.tab-margin {
    margin: 15% 20%;
}

.list-group-item {
    background-color: #0a1f44 !important;
    color: white !important;
    border-color: #203864 !important;
}

.list-group-item.active {
    background-color: #2f5597 !important;
}