.contain{
    margin:3% 8% !important;
    height:80vh;
}

.images{
    overflow-y:scroll;
    overflow-x:hidden;
}
.updFiles{
    padding:3% 3%;
}

.fixed{
    overflow-y:scroll;
    max-height:650px;
    margin:0% 7%;
    border:5px solid #0a1f44;
}
.fixe{
    overflow-y:scroll;
    height:450px;
    margin:0% 7%;
}

.fullw{
    width:100% !important;
}

.editorAlert{
    margin-top:1% !important;
    text-align: center;
}

.imgHeight{
    height:250px !important;
    object-fit: fill;
    width:100%;
    margin:6% 2%;
    border-radius: 4%;
}

.fixedm {
    max-height: 120px !important;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}