.ce-toolbar__plus,.edit{
    color:white !important;
}

.cdx-block{
    background:#203864 !important;
}

.edit{
    margin:4% 30% 0% 30%;
}
/* .codex-editor--empty{
    display: none !important;
} */

.card{
    background:#203864 !important;
    box-shadow: 0 8px 20px 0 rgba(32, 56, 100, .6);
}