.ce-toolbar__plus,.edit{
    color:white !important;
}

.cdx-block{
    background:#203864 !important;
}

.edit{
    margin:4% 30% 0% 30%;
}
/* .codex-editor--empty{
    display: none !important;
} */

.card{
    background:#203864 !important;
    box-shadow: 0 8px 20px 0 rgba(32, 56, 100, .6);
    color:white;
}

.pro-sidebar > .pro-sidebar-inner{
    background:#203864 !important;
}

.margin-3{
    margin-top: 227% !important;
}
.whte{
    font-size: 1.3rem !important;
    color: white !important;
}
.row{
    margin-right: 0px !important; 
    margin-left: 0px !important;
}

.col-2,.col-8{
    padding-right: 0px; 
    padding-left: 0px;
}

.right-sidebar{
    background:#203864 !important;
}

#container{
    margin:7% 0% !important;
}

.wrap{
   border-radius: 2rem;
   margin:0% 2%;
   padding:3% 7% !important;
   background-color: #2f4e88 !important;
   color:white !important;
}
