body {
  background: #2f5597 !important;
}

*::-webkit-scrollbar {
  width: 0.5em;
}

*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

*::-webkit-scrollbar-thumb {
  background-color:  #0a1f44;
  outline: 1px solid  #0a1f44;
}


.defcolor {
  background: #203864 !important;
  padding: 0.7% 7%;
  box-shadow: 0 8px 20px 0 rgba(9, 29, 66, 0.6);
}

.encloser {
  background: #2f5597 !important;
}

.modal-dialog {
  max-width: 35% !important;
}

.modal-content {
  box-shadow: 0 8px 20px 0 rgba(32, 56, 100, 0.6) !important;
}

.modal-content,
input {
  background: #022442 !important;
  color: white !important;
}

.modal-header {
  border-bottom: 1px solid #002d64 !important;
}

.modal-footer {
  border-top: 1px solid #002d64 !important;
}

.dropdown-menu {
  margin-top: 13% !important;
  background: #203864 !important;
  border: 2px solid #203864 !important;
}

.dropdown-item,
a {
  color: #fff;
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-item:focus,
.dropdown-item:hover {
  color: white;
  background: #2f5597 !important;
}

.form-control {
  margin: 1% 0%;
  border: 1px solid #0d3e65 !important;
  background-color: #0a1f44 !important;
  color: white !important;
}

.rbt-token-removeable {
  background-color: #0a1f44 !important;
}

.row {
  margin-right: 0px !important;
  margin-left: 0px !important;
}

.col-2,
.col-8 {
  padding-right: 0px;
  padding-left: 0px;
}

.whtr {
  color: white;
}

.list-group {
  padding: 7% 3%;
  height: 91vh !important;
  background: #203864 !important;
  box-shadow: 0 8px 20px 0 rgba(32, 56, 100, 0.6);
  color: white;
}

.list-group-item {
  background-color: #0a1f44 !important;
  color: white !important;
  border-color: #203864 !important;
}

.list-group-item.active {
  background-color: #2f5597 !important;
}

.table-dark.table-striped tbody tr:nth-of-type(odd) {
  background-color: #0a1f44 !important;
}

.table-dark.table-striped tbody tr:nth-of-type(even) {
  background-color: #0a1f44 !important;
}

.alert {
  margin-top: 3%;
  padding: 0.3rem 0.6rem !important;
}

.ce-toolbar__plus,
.edit {
  color: white !important;
}

.cdx-block {
  background: #203864 !important;
}

.edit {
  margin: 4% 30% 0% 30%;
}

/* .codex-editor--empty{
    display: none !important;
} */

.card {
  background: #203864 !important;
  box-shadow: 0 8px 20px 0 rgba(32, 56, 100, 0.6);
  color: white;
}


.rbt-menu {
  background-color: #224992 !important;
  transform: translate3d(0px, 5px, 0px) !important;
}

.rbt-token-removeable {
  display: inline !important;
  border: 4px solid rgb(7, 7, 134);
  padding: 2% 2%;
  margin-left: 2%;
}

.rbt-token-removeable .close {
  float: none !important;
  margin-left: 3% !important;
  color: white !important;
}


.simple-image {
  padding: 20px 0;
}

.simple-image input {
  width: 100%;
  padding: 10px;
  border: 1px solid #e4e4e4;
  border-radius: 3px;
  outline: none;
  font-size: 14px;
}


.simple-image.withBorder img {
  border: 1px solid #e8e8eb;
}

.simple-image.withBackground {
  background: #eff2f5;
  padding: 10px;
}

.simple-image.withBackground img {
  display: block;
  max-width: 60%;
  margin: 0 auto 15px;
}

.codes{
  background-color: aliceblue;
}

a{
  text-decoration: none !important;
}
a:hover{
  text-decoration:none !important;
  color:white;
}

@media (min-width: 992px) {

  .modal-lg,
  .modal-xl {
    max-width: 35% !important;
  }
}