body{
    background:#2f5597 !important;
}
.defcolor{
    background:#203864 !important;
    padding:0.7% 7%; 
    box-shadow: 0 8px 20px 0 rgba(32,56,100,.6)
}
.encloser{
    background:#2f5597 !important;
}
.modal-dialog {
    max-width: 35% !important;
}

.modal-content,input{
    background:#022442 !important;
    color:white !important;
}
.modal-header{
    border-bottom:1px solid #002d64 !important;
}
.modal-footer{
    border-top:1px solid #002d64 !important;
}

.dropdown-menu{
    margin-top:13% !important;
    background:#203864 !important;
    border:2px solid #203864 !important;
}
.dropdown-item,a{
    color:#fff;
}

.nav-link:focus,.nav:link:hover{
    background:#2f5597 !important;
}

.form-control{
    margin:1% 0%;
    border:1px solid #0d3e65 !important;
}

@media (min-width: 992px) {

    .modal-lg,
    .modal-xl {
        max-width: 35% !important;
    }
}